
header{
    margin-top: 5vh;
}

.container{
    text-align: center;
}

.list{
    display: inline-block;
    overflow: hidden;
    margin-top: 2em;
}

.items{
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10vw;
    grid-row-gap: 10vh;
    justify-items: center;
}

article{
    width: 300px;
    border-width: thick;
    border-color: white;
}

article svg{
    width: 16px;
    height: 16px;
}

article circle[id="red"]{
    fill: red;
}

article circle[id="white"]{
    fill: white;
    stroke-width: 5px;
    stroke: black;
}

article circle[id="black"]{
    fill: black;
}

article circle[id="blue"]{
    fill: blue;
}