<section class="container">
    <header>
      <h1>DRIVING YOUR BUSINESS TO SUCCESS</h1>
      <br/>
      <h3>TAKE OUR MODELS DOWN THE ROAD</h3>
    </header>
    <button mat-raised-button color="primary"  class="new-truck" (click)="createTruck()"><mat-icon>add_circle_outline</mat-icon> New Truck</button>
    <div class="list">
        <div class="items">
            <article *ngFor="let item of datasource;">
                <mat-card>
                    <img mat-card-image src="../../assets/truck.jpeg">
                    <mat-card-title>{{item.name}}</mat-card-title>
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item>Engine: {{item.engineHP}} HP | {{item.engineVolume}} cm3</mat-list-item>
                            <mat-list-item>Fuel: {{item.fuel}}</mat-list-item>
                            <mat-list-item>Segments: {{item.segments}}</mat-list-item>
                            <mat-list-item >Available Colors</mat-list-item>
                            <mat-list-item>
                                <span *ngFor="let color of item.colors" style="padding-right: 2em;">
                                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                      <circle cx="40" cy="40" r="35" [id]="color"/>
                                    </svg>
                                </span>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="basic" (click)="updateTruck(item.id)"><mat-icon>create</mat-icon> Edit Truck</button>
                        <button mat-raised-button color="warn" (click)="deleteTruck(item.id)"><mat-icon>delete_sweep</mat-icon> Delete Truck</button>
                    </mat-card-actions>
                </mat-card>
            </article>
        </div>
    </div>
</section>
  