
.create-form{
    width: 100%;
}

.field-full-width {
    width: 100%;
}

.container{
    width: 100%;
}

.mat-card{
    display: inline-block;
    max-width: 459px;
    width: 100%;
}

h3{
    color: black;
}