<div class="container">
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Edit Truck</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="updateForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Name" formControlName="name" #name>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input type="number" matInput placeholder="Engine HP" formControlName="engineHP" #engineHP>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input type="number" matInput placeholder="Engime Volume (cm3)" formControlName="engineVolume" #engineVolume>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <mat-label>Fuel</mat-label>
        <mat-select placeholder="Fuel" formControlName="fuel" #fuel>
          <mat-option value="Diesel">Diesel</mat-option>
          <mat-option value="Electric">Electric</mat-option>
          <mat-option value="Gas">Gas</mat-option>
          <mat-option value="Hidrogen">Hidrogen</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <mat-label>Segments</mat-label>
        <mat-select formControlName="segments" multiple #segments>
          <mat-option *ngFor="let segment of segmentsArray" [value]="segment">{{segment}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <mat-label>Available Colors</mat-label>
        <mat-select formControlName="colors" multiple #colors>
          <mat-option *ngFor="let color of colorsArray" [value]="color">{{color}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
      <button type="submit" (click)="updateTruck(name.value, engineHP.value, engineVolume.value, fuel.value, segments.value, colors.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>