
nav{
    margin: 0;
    background-color: #303c49;
    padding-bottom: 1em;
    padding-top: 1em;
    color: white;
    font-weight: bold;
}
nav img{
    vertical-align: bottom;
}

main {
    width: 918px;
    margin: auto;
}