
nav{
    margin: 0;
    background-color: #303c49;
    padding-bottom: 1em;
    padding-top: 1em;
    color: white;
    font-weight: bold;
}
nav img{
    vertical-align: bottom;
}

nav div{
    width: 918px;
    margin: auto;
    
}

main {
    width: 918px;
    // max-height: 90%;
    margin: auto;
    // overflow: scroll;
}

footer {
    padding-top: 1em;
    color: #eee;
    width: 918px;
    margin: auto;
  }