
h3{
    color: black;
}

.edit-form {
    min-width: 150px;
    width: 100%;
}

.field-full-width {
    width: 100%;
}

.container{
    width: 100%;
}

.mat-card{
    display: inline-block;
    width: 50%;
}